@import "tailwindcss";

/* Chrome Group Colors */
@source inline("{hover:,}{bg,divide}-{base,blue,red,yellow,green,pink,purple,cyan,orange}-{50,{100..900..100},950}");

html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: min-content; /* Fill html height */
  width: 100%; /* Fill html width */
  min-height: 100px; /* Hint for Chrome popup sizing */
  min-width: 320px; /* Hint for Chrome popup sizing */
  max-height: 600px; /* Hint for Chrome popup sizing */
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-height: 600px; /* Hint for Chrome popup sizing */
  overflow: hidden;
}

*,
*:hover {
  scrollbar-color: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #8297bc;
  border-radius: 8px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: oklch(26.9% 0 0);
}
